<!DOCTYPE html>
<html lang="es" 
	xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
      
<head th:include="~{fragments/head :: head}"></head>

<body>
    <header th:replace="~{fragments/cabecera :: cabecera}"></header>

    <aside class="menu">
    	<nav th:replace="~{fragments/menu-lateral :: menu-lateral}"></nav>
    </aside>
    
    <main>
		<div th:each="voto:${votos}">

			<span th:text="${voto}"></span>
			
		</div>
    </main>
    
    <footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>