<!DOCTYPE html>
<html lang="es" 
	xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
      
<head th:include="~{fragments/head :: head}"></head>

<body>
    <header th:replace="~{fragments/cabecera :: cabecera}"></header>

    <aside class="menu">
    	<nav th:replace="~{fragments/menu-lateral :: menu-lateral}"></nav>
    </aside>
    
    <main>
		<table class="table table-hover">
			<tr>
				<th>Persona</th>
				<th>Pais</th>
				<th>Puntos</th>
			</tr>
			<tr th:each="voto:${votos}" th:object="${voto}">
				<td th:text="*{persona.nombre}"></td>
			    <td th:text="*{pais.nombre}"></td>
			   	<td th:text="*{puntos}"></td>
			</tr>
		</table>
		
		<form method="post" th:action="@{/accion/votar/guardarVoto}" th:object="${votoUsuario}">
			<input type="hidden" name="persona.id" th:value="${personaId}">
			
			<label>Pais</label>
			<input type="number" th:field="*{pais.id}">
			
			<label>Puntos</label>
			<input type="number" th:field="*{puntos}">
			
			<button>Enviar</button>
		</form>
    </main>
    
    <footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>