<!DOCTYPE html>
<html lang="es" 
	xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
      
<head th:include="~{fragments/head :: head}"></head>

<body>
    <header th:replace="~{fragments/cabecera :: cabecera}"></header>

    <aside class="menu">
    	<nav th:replace="~{fragments/menu-lateral :: menu-lateral}"></nav>
        <button id="btn">XD</button>
    </aside>
    
    <main>
		<table class="table table-hover">
			<tr>
				<th>Persona</th>
				<th>Pais</th>
				<th>Puntos</th>
			</tr>
			<tr th:each="voto:${votos}" th:object="${voto}">
				<td th:text="*{persona.nombre}"></td>
			    <td th:text="*{pais.nombre}"></td>
			   	<td th:text="*{puntos}"></td>
			</tr>
		</table>
    </main>
    
    <footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>