<!DOCTYPE html>
<html lang="es" 
	xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
    <header th:fragment="cabecera">
    	<h1>
    		<a th:href="@{/}">Eurovision</a>
    	</h1>
    	
    	<form id="formCambioPersona" th:action="@{/cambioPersona}" method="post">
	    	<select id="personaCombo" name="cambioPersonaId">
	    		<option th:each="persona:${personasActivas}" th:value="${persona.id}" th:text="${persona.nombre}"></option>
	    	</select>
    	</form>

    </header>
</body>

</html>