<!DOCTYPE html>
<html lang="es" 
	xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
   <nav th:fragment="menu-lateral" class="menu-lateral" th:with="url=${#httpServletRequest.requestURI}">
   
	<div class="accordion" id="acordeon-administracion">
	  <div class="card">
	    <div class="card-header" id="headingAdmin">
	      <h2 class="mb-0">
	        <a class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAdmin" aria-controls="collapseAdmin">
	          Administracion
	        </a>
	      </h2>
	    </div>
	
	    <div id="collapseAdmin" class="collapse" th:classAppend="${url.contains('admin') ? 'show' : ''}" aria-labelledby="headingAdmin" data-parent="#acordeon-administracion">
	      <div class="card-body" th:classAppend="${url.contains('/admin/personas') ? 'menu-activo' : ''}">
	        <a th:href="@{/admin/personas/}">Personas</a>
	      </div>
	      <div class="card-body" th:classAppend="${url.contains('/admin/paises') ? 'menu-activo' : ''}">
	         <a th:href="@{/admin/paises/}">Paises</a>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="accordion" id="acordeon-acciones">
	  <div class="card">
	    <div class="card-header" id="headingAcciones">
	      <h2 class="mb-0">
	        <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAcciones" aria-controls="collapseAcciones">
	          Acciones
	        </a>
	      </h2>
	    </div>
	    
	    <div id="collapseAcciones" class="collapse" th:classAppend="${url.contains('accion') ? 'show' : ''}" aria-labelledby="headingAcciones" data-parent="#acordeon-acciones">
	      <div class="card-body" th:classAppend="${url.contains('/accion/votar') ? 'menu-activo' : ''}">
	         <a th:href="@{/accion/votar/}">Votar</a>
	      </div>
	    </div>
	  </div>
	  <!-- FIN ACORDEON 2 -->
	</div>
   </nav>
</body>

</html>