<!DOCTYPE html>
<html lang="es" 
	xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
      
<head th:include="~{fragments/head :: head}"></head>

<body>
    <header th:replace="~{fragments/cabecera :: cabecera}"></header>

    <aside class="menu">
        <nav th:replace="~{fragments/menu-lateral :: menu-lateral}"></nav>
    </aside>
    
    <main>
    	<section>
    		<div class="cabecera-con-iconos">
    			<h1>Personas</h1> 
    			<a class="btn btn-success" th:href="@{/admin/personas/create}"><i class="fa fa-plus"></i></a>
    		</div>

    		<table class="table table-dark table-hover" id="tablaPersonas">
    			<thead>
    				<tr>
    				    <th>Apodo</th>
    					<th>Nombre</th>
    					<th>Activa</th>
    					<th>Acciones</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr th:each="persona:${personas}" th:object="${persona}">
    					<td th:text="*{apodo}"></td>
    					<td th:text="*{nombre}"></td>
    					<td>
    						<i th:class="*{activa ? 'fa fa-check text-success' : 'fa fa-times text-danger'}"></i>
    					</td>
    					<td>
  							<a th:href="@{/admin/personas/alternarEstado/{id} (id=*{id})}" class="fa fa-power-off" aria-hidden="true"></a>
  							<a th:href="@{/accion/votar/{id} (id=*{id})}" class="fa fa-envelope" ></a>
  							<a th:href="@{/admin/personas/edit/{id} (id=*{id})}"><i class="fa fa-edit"></i></a>
  							<a th:href="@{/admin/personas/delete/{id} (id=*{id})}" class="fa fa-trash" aria-hidden="true"></a>
    					</td>
    				</tr>
    			</tbody>
    		</table>
    	</section>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>